<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <false/>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>app-store</string> <!-- App Store distribution -->
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>tv.dorplay.companion</key> <!-- Bundle identifier -->
        <string>cicd-new</string> <!-- Provisioning profile name -->
    </dict>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>MM7U35V4FZ</string> <!-- Your team ID -->
    <key>thinning</key>
    <string>&lt;none&gt;</string>
    <key>signingCertificate</key>
    <string>iOS Distribution</string> <!-- iOS Distribution certificate -->
</dict>
</plist>
